$header-background-color: rgb(170, 26, 26);
$header-height: 3vh;
$navItem-hover: #b3a7a7;

.App-header {
    background-color: $header-background-color;
    height: $header-height;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 5px 1px rgba(27, 31, 35, .5);
    color: white;

    .navItem {
        font-size: 14px;
        margin: 0 10px;
    }

    .navItem:hover {
        color: $navItem-hover;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 18px;
        margin: 0 10px;

    }
}

