$header-background-color: rgb(170, 26, 26);
$header-height: 3vh;

.App-header {
    background-color: $header-background-color;
    height: $header-height;
    display: flex;
    align-items: center;
    font-size: calc(10px);
    box-shadow: 0 1px 5px 1px rgba(27, 31, 35, .5);
    color: white;

    .navItem {
        font-size: 14px;
        margin: 0 10px;
    }

    .navItem:hover {
        color: #b3a7a7;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .title {
        font-size: 20px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

